header{
    background-color: #4EA0FF;
    width: 100%;
    height: 10em;
    background-image: url(../immagini/pattern.png);
}

#logo{
    height: 5em;
    position:absolute;
    top: 5em;
}

.autor{
    font-weight: 900;
}

#booleaner {
    color: #20A9E5;
}

.date {
    font-size: 12px;
}

.corto{
    width: 25%;
}

.lungo{
    width: 50%;
}

.data{
    float: left;
    
}
#upper{
    background-color: #20A9E5;
    height: 1em;
    line-height: 1em;
    color: white;
}

.lightblue{
    background-color: #B1E5F2;
    
}

.row{
    height: 4em;
}

.lower{
   line-height: 4em;
}