*{
    box-sizing: border-box;
    margin: 0;
}

h1{
    margin-top: 0.7em;
}

header{
    background-color: #4EA0FF;
    width: 100%;
    height: 10em;
    background-image: url(../immagini/pattern.png);
}

#logo{
    height: 5em;
    position:absolute;
    top: 5em;
}

.autor{
    font-weight: 900;
}

#booleaner {
    color: #20A9E5;
}

.date {
    font-size: 12px;
    
}

.timImage{
    margin-top: 1em;
}

.corto{
    width: 25%;
}

.lungo{
    width: 50%;
}

.data{
    float: left;
    
}
#upper{
    background-color: #20A9E5;
    height: 1em;
    line-height: 1em;
    color: white;
}

.lightblue{
    background-color: #B1E5F2;
    
}

.row{
    height: 4em;
}

.lower{
   line-height: 4em;
}

#monitor{
    background-image: url(../immagini/monitor.jpg);
    width: 312px;
    height: 208px;
    color: white;
    margin-bottom: 0.8em;
}

#graph{
    background-image: url(../immagini/graph.jpg);
    width: 311px;
    height: 207px;
    color: white;
}

.text{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

ul{
    margin-bottom: 2em;
    margin-top: 1.5em;
}

span{
    display: inline-block;
    margin-left: 0.5em;
    margin-top: 0.5em;
}